.modal-body {
  max-height: 60vh !important;
}

.btn {
  white-space: nowrap;
}

/** Alka NOTIF **/
#alka-notif-center{
    z-index: 99999;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#alka-notif-center alert{
    margin-bottom: none;
}

#alka-notif-center .notif{
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

#addresses-modal-table_wrapper {
  padding: 10px;
}

.modal-body .control-group{
  padding: 0px 10px;
}
